%footer
  .b-footer-primary
    .container
      .row
        .col-sm-4.col-xs-12.f-copyright.b-copyright Copyright © 2014 - Todos os direitos Reservados
        .col-sm-8.col-xs-12
          .b-btn.f-btn.b-btn-default.b-right.b-footer__btn_up.f-footer__btn_up.j-footer__btn_up
            %i.fa.fa-chevron-up
  .container
    .b-footer-secondary.row
      .col-md-3.col-sm-12.col-xs-12.f-center.b-footer-logo-containter
        %a{:href => ""}
          %img.b-footer-logo.color-theme{:alt => "Logo", "data-retina" => "", :src => ""}/
        .b-footer-logo-text.f-footer-logo-text
          %p Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.
          .b-btn-group-hor.f-btn-group-hor
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-twitter
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-facebook
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-dribbble
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-behance
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Últimas Notícias
        .b-blog-short-post.row
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Contato
        .b-contacts-short-item-group
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.f-contacts-short-item__icon_lg.b-left
              %i.fa.fa-map-marker
            .b-remaining.f-contacts-short-item__text
              Geek Ninjas
              %br/
              1234 Cidade, Estado,
              %br/
              Brasil.
              %br/
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.b-left.f-contacts-short-item__icon_md
              %i.fa.fa-skype
            .b-remaining.f-contacts-short-item__text.f-contacts-short-item__text_phone
              Skype: geekninjas.com
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.b-left.f-contacts-short-item__icon_xs
              %i.fa.fa-envelope
            .b-remaining.f-contacts-short-item__text.f-contacts-short-item__text_email
              %a{:href => "mailto:frexystudio@gmail.com"} lorem@ipsum.com
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Quem ja Curtiu
        .b-short-photo-items-group
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_1.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_99.jpg"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_1.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_1.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_2.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_2.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_3.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_3.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_5.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_5.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_7.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_7.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_9.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_9.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_11.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_11.png"}/
          .b-column.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_12.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_13.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_16.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_16.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_34.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_34.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/sm/gallery_38.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_38.png"}/
