%header
  .container.b-header__box.b-relative
    %a.b-left.b-logo{:href => "/"}
      %img.color-theme{:alt => "Logo", "data-retina" => "", :src => "img/conteudo.png"}/
    .b-header-r.b-right.b-header-r--icon
      .b-top-nav-show-slide.f-top-nav-show-slide.b-right.j-top-nav-show-slide
        %i.fa.fa-align-justify
      %nav.b-top-nav.f-top-nav.b-right.j-top-nav
        %ul.b-top-nav__1level_wrap
          %li.b-top-nav__1level.f-top-nav__1level.is-active-top-nav__1level.f-primary-b
            %a{:href => "#"}
              %i.fa.fa-home.b-menu-1level-ico>
              Home
              %span.b-ico-dropdown
                %i.fa.fa-arrow-circle-down
            .b-top-nav__dropdomn
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title.is-active-top-nav__2level-title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary.is-active-top-nav__2level
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
          %li.b-top-nav__1level.f-top-nav__1level.f-primary-b.b-top-nav-big
            %a{:href => "page_search_result.html"}
              %i.fa.fa-cloud-download.b-menu-1level-ico>
              Lorem Ipsum
              %span.b-ico-dropdown
                %i.fa.fa-arrow-circle-down
            .b-top-nav__dropdomn
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
