#slider.is-fixed-container
  .b-slider-primary{"data-fixed_top" => ""}
    .j-slider-primary
      .b-slider-primary-item.b-slider-primary-item--bg.f-slider-primary-item.parallax-section-bg{"data-speed" => "10300", "data-type" => "background"}
        .container
          .col-md-7
            %img{:alt => "", "data-animate" => "fadeInUp", "data-retina" => "", :src => "img/animation-data/papa.png", :width => "599"}/
          .col-md-5
            .b-about-container__inner{"data-animate" => "fadeInRight"}
              .b-about-container__title.f-about-container__title.f-secondary-b Education is great!
              .b-about-container__text.f-about-container__text.f-secondary-l
                Maecenas eros tellus, vulputate in felis eu, tristique lobortis nisl. Nullam ornare, justo sit amet cursus
                auctor, lorem lacus laoreet ante, nec lacinia diam urna ut justo. Pellentesque blandit iaculis justo, ut
                imperdiet metus eleifend nec. Aenean a vestibulum risus. Nulla vitae ultricies velit, et pulvinar mauris. Donec
                mattis sagittis enim. Vivamus ac sapien placerat nisi elementum
              %a.f-more.f-secondary-b{:href => "#"}
                Read more
                %i.fa.fa-arrow-circle-right
