%section.b-infoblock.b-desc-section-container
  .container
    %h2.f-center.f-primary-l
      Nossas
      %strong.f-primary-b Paróquias
    %p.b-infoblock-description.f-desc-section.f-center.f-employee__desc.f-small.f-primary-l Reprehendunt in, quo ea esse civibus suavitate. Pro gubergren persecuti moderatius, id laudem vix, an eos. Adversarium principes.
    .b-carousel-primary
      .j-carousel-primary
        .b-carousel-primary__item
          .b-news-item.f-news-item
            .hidden-xs.b-news-item__img.view.view-sixth
              %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                      %i.fa.fa-link
            .b-news-item__info
              .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
              .b-news-item__info_additional
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-calendar-o
                  22 de Janeiro
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-comments
                  2 comentários
              .b-news-item__info_text.f-news-item__info_text
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                Leia Mais
                %i.fa.fa-chevron-circle-right
        .b-carousel-primary__item
          .b-news-item.f-news-item
            .hidden-xs.b-news-item__img.view.view-sixth
              %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                      %i.fa.fa-link
            .b-news-item__info
              .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
              .b-news-item__info_additional
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-calendar-o
                  22 de Janeiro
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-comments
                  2 comentários
              .b-news-item__info_text.f-news-item__info_text
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                Leia Mais
                %i.fa.fa-chevron-circle-right
        .b-carousel-primary__item
          .b-news-item.f-news-item
            .hidden-xs.b-news-item__img.view.view-sixth
              %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                      %i.fa.fa-link
            .b-news-item__info
              .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
              .b-news-item__info_additional
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-calendar-o
                  22 de Janeiro
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-comments
                  2 comentários
              .b-news-item__info_text.f-news-item__info_text
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                Leia Mais
                %i.fa.fa-chevron-circle-right
        .b-carousel-primary__item
          .b-news-item.f-news-item
            .hidden-xs.b-news-item__img.view.view-sixth
              %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_2.png"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                      %i.fa.fa-link
            .b-news-item__info
              .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
              .b-news-item__info_additional
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-calendar-o
                  22 de Janeiro
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-comments
                  2 comentários
              .b-news-item__info_text.f-news-item__info_text
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                Leia Mais
                %i.fa.fa-chevron-circle-right
        .b-carousel-primary__item
          .b-news-item.f-news-item
            .hidden-xs.b-news-item__img.view.view-sixth
              %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                      %i.fa.fa-link
            .b-news-item__info
              .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
              .b-news-item__info_additional
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-calendar-o
                  22 de Janeiro
                %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                  %i.fa.fa-comments
                  2 comentários
              .b-news-item__info_text.f-news-item__info_text
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                Leia Mais
                %i.fa.fa-chevron-circle-right
