.mask-l{:style => "background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"}
/ removed by integration
%header
  .container.b-header__box.b-relative
    %a.b-left.b-logo{:href => "/"}
      %img.color-theme{:alt => "Logo", "data-retina" => "", :src => "img/conteudo.png"}/
    .b-header-r.b-right.b-header-r--icon
      .b-top-nav-show-slide.f-top-nav-show-slide.b-right.j-top-nav-show-slide
        %i.fa.fa-align-justify
      %nav.b-top-nav.f-top-nav.b-right.j-top-nav
        %ul.b-top-nav__1level_wrap
          %li.b-top-nav__1level.f-top-nav__1level.is-active-top-nav__1level.f-primary-b
            %a{:href => "#"}
              %i.fa.fa-home.b-menu-1level-ico>
              Home
              %span.b-ico-dropdown
                %i.fa.fa-arrow-circle-down
            .b-top-nav__dropdomn
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title.is-active-top-nav__2level-title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary.is-active-top-nav__2level
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
          %li.b-top-nav__1level.f-top-nav__1level.f-primary-b.b-top-nav-big
            %a{:href => "page_search_result.html"}
              %i.fa.fa-cloud-download.b-menu-1level-ico>
              Lorem Ipsum
              %span.b-ico-dropdown
                %i.fa.fa-arrow-circle-down
            .b-top-nav__dropdomn
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
              %ul.b-top-nav__2level_wrap
                %li.b-top-nav__2level_title.f-top-nav__2level_title Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
                %li.b-top-nav__2level.f-top-nav__2level.f-primary
                  %a{:href => "#"}
                    %i.fa.fa-angle-right>
                    Lorem Ipsum
.j-menu-container
.l-main-container
  .b-slidercontainer.b-slider
    .j-fullscreenslider.j-arr-hide
      %ul
        %li{"data-slotamount" => "10", "data-transition" => "fade"}
          .tp-bannertimer
          %img{"data-retina" => "", :src => "img/slider/section-bg-3.jpg"}/
          .caption.lft.caption-left{"data-hoffset" => "60", "data-speed" => "700", "data-start" => "2000", "data-x" => "left", "data-y" => "150"}
            .b-slider-lg-info-l__item-title.f-slider-lg-info-l__item-title.b-slider-lg-info-l__item-title-tertiary
              %h2.f-primary-l EDUARDO LUIZ SANTOS CABETTE
              %h1.f-primary-b Breves anotações atécnicas à nota "atécnica" 7ª
          .caption.lfl.caption-left{"data-speed" => "1000", "data-start" => "2600", "data-x" => "left", "data-y" => "270"}
            .b-slider-lg-info-l__item-link.f-slider-lg-info-l__item-link
              %a.b-slider-lg-info-l__item-anchor.f-slider-lg-info-l__item-anchor.f-primary-b{:href => "#"} Colunista da Semana
              %span.b-slider-lg-info-l__item-link-after
                %i.fa.fa-chevron-right
  %section.b-infoblock.b-desc-section-container
    .container
      .row
        .col-sm-6
          %h2.f-center.f-primary-b Artigos
          .b-infoblock-with-icon.b-blog-listing__infoblock
            .b-infoblock-with-icon__info.f-infoblock-with-icon__info
              %a.f-infoblock-with-icon__info_title.b-infoblock-with-icon__info_title.f-primary-l.b-title-b-hr.f-title-b-hr{:href => "blog_detail_left_slidebar.html"}
                29/11/2014 - Ângela Onzi Rizzi
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text.c-primary.b-blog-listing__text
                Surgimento das Agências Reguladoras no Brasil
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text
                %a.f-more.f-primary-b{:href => "blog_detail_left_slidebar.html"} Leia Mais
          .b-infoblock-with-icon.b-blog-listing__infoblock
            .b-infoblock-with-icon__info.f-infoblock-with-icon__info
              %a.f-infoblock-with-icon__info_title.b-infoblock-with-icon__info_title.f-primary-l.b-title-b-hr.f-title-b-hr{:href => "blog_detail_left_slidebar.html"}
                29/11/2014 - Barbara Tuyama Sollero
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text.c-primary.b-blog-listing__text
                Da inconstitucionalidade da concessão do adiconal de 25% previsto no art. 45 da Lei 8.213/91 a benefícios distintos da aposentadoria por invalidez
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text
                %a.f-more.f-primary-b{:href => "blog_detail_left_slidebar.html"} Leia Mais
        .col-sm-6
          %h2.f-center.f-primary-b Jurisprudências
          .b-infoblock-with-icon.b-blog-listing__infoblock
            .b-infoblock-with-icon__info.f-infoblock-with-icon__info
              %a.f-infoblock-with-icon__info_title.b-infoblock-with-icon__info_title.f-primary-l.b-title-b-hr.f-title-b-hr{:href => "blog_detail_left_slidebar.html"}
                Mauris ac risus neque, ut pulvinar risus
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text.c-primary.b-blog-listing__text
                Decisão com tutela antecipada, reconhecendo a omissão inconstitucional do art. 37, X, da CF/88, concedendo o reajuste do subsídio mensal de Policial Federal com a revisão da sua remuneração através da variação do INPC, num percentual de 21,17%
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text
                %a.f-more.f-primary-b{:href => "blog_detail_left_slidebar.html"} Leia Mais
          .b-infoblock-with-icon.b-blog-listing__infoblock
            .b-infoblock-with-icon__info.f-infoblock-with-icon__info
              %a.f-infoblock-with-icon__info_title.b-infoblock-with-icon__info_title.f-primary-l.b-title-b-hr.f-title-b-hr{:href => "blog_detail_left_slidebar.html"}
                STJ. Processo Civil. A petição inicial não pode ser emendada depois de apresentada a contestação
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text.c-primary.b-blog-listing__text
                STJ. Processo Civil. A petição inicial não pode ser emendada depois de apresentada a contestação
              .f-infoblock-with-icon__info_text.b-infoblock-with-icon__info_text
                %a.f-more.f-primary-b{:href => "blog_detail_left_slidebar.html"} Leia Mais
    %section
      .container
        .b-carousel-secondary.f-carousel-secondary.b-some-examples-tertiary.f-some-examples-tertiary.b-carousel-reset
          .b-carousel-title.f-carousel-title.f-primary-b Colunistas
          .b-some-examples.f-some-examples.j-carousel-secondary
            .col-md-3.col-sm-4.col-xs-12
              .b-employee-item.b-employee-item--color.f-employee-item
                .view.view-sixth
                  %a{:href => "#"}
                    %img{:alt => "", "data-retina" => "", :src => "img/users/user1.jpg"}/
                  .b-item-hover-action.f-center.mask
                    .b-item-hover-action__inner
                      .b-item-hover-action__inner-btn_group
                        %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "about_us_meet_our_team_detail.html"}
                          %i.fa.fa-link
                %h4.f-primary-b Lorem Ipsum
                .b-employee-item__position.f-employee-item__position Lorem Ipsum
                %p Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.
                .b-employee-item__social
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-twitter
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-google-plus
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-thumbs-up
            .col-md-3.col-sm-4.col-xs-12
              .b-employee-item.b-employee-item--color.f-employee-item
                .view.view-sixth
                  %a{:href => "#"}
                    %img{:alt => "", "data-retina" => "", :src => "img/users/user2.jpg"}/
                  .b-item-hover-action.f-center.mask
                    .b-item-hover-action__inner
                      .b-item-hover-action__inner-btn_group
                        %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "about_us_meet_our_team_detail.html"}
                          %i.fa.fa-link
                %h4.f-primary-b Lorem Ipsum
                .b-employee-item__position.f-employee-item__position Lorem Ipsum
                %p Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.
                .b-employee-item__social
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-twitter
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-google-plus
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-thumbs-up
            .col-md-3.col-sm-4.col-xs-12
              .b-employee-item.b-employee-item--color.f-employee-item
                .view.view-sixth
                  %a{:href => "#"}
                    %img{:alt => "", "data-retina" => "", :src => "img/users/user3.jpg"}/
                  .b-item-hover-action.f-center.mask
                    .b-item-hover-action__inner
                      .b-item-hover-action__inner-btn_group
                        %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "about_us_meet_our_team_detail.html"}
                          %i.fa.fa-link
                %h4.f-primary-b Lorem Ipsum
                .b-employee-item__position.f-employee-item__position Lorem Ipsum
                %p Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.
                .b-employee-item__social
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-twitter
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-google-plus
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-thumbs-up
            .col-md-3.col-sm-4.col-xs-12.hidden-xs.hidden-sm
              .b-employee-item.b-employee-item--color.f-employee-item
                .view.view-sixth
                  %a{:href => "#"}
                    %img{:alt => "", "data-retina" => "", :src => "img/users/user4.jpg"}/
                  .b-item-hover-action.f-center.mask
                    .b-item-hover-action__inner
                      .b-item-hover-action__inner-btn_group
                        %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "about_us_meet_our_team_detail.html"}
                          %i.fa.fa-link
                %h4.f-primary-b Lorem Ipsum
                .b-employee-item__position.f-employee-item__position Lorem Ipsum
                %p Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.
                .b-employee-item__social
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-twitter
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-google-plus
                  %a.b-employee-item__social_btn{:href => "#"}
                    %i.fa.fa-thumbs-up
  %section.b-infoblock--small
    .container
      .row.b-col-default-indent
        .col-md-8.col-md-offset-2
          %h2.f-primary-l.f-center.c-default Nosso preço
          %p.f-primary-l.f-center Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat nunc at augue tincidunt vehicula. Donec viverra semper arcu ut blandit. Suspendisse ac tempus diam. Duis dignissim lacinia sapien in tempor.
      .b-shortcode-example.b-null-bottom-indent
        .b-pricing-info__container.f-center
          .b-pricing-info__item.f-pricing-info__item.col-sm-6.col-md-3.col-xs-12
            .b-pricing-info__item-row.b-pricing-info__item-title
              %h4.f-primary-b Básico
            .b-pricing-info__item-row.b-pricing-info__item-price
              %h2.f-primary-b Gratuito
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsumt
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row.b-pricing-info__item-btn-row
              %a.b-btn.f-btn.b-btn-sm.f-primary-b Assinar
          .b-pricing-info__item.f-pricing-info__item.col-sm-6.col-md-3.col-xs-12
            .b-pricing-info__item-row.b-pricing-info__item-title
              %h4.f-primary-b Plano Prata
            .b-pricing-info__item-row.b-pricing-info__item-price
              %h2.f-primary-b
                R$ 2 /
                %small.f-primary mês
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsumt
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row.b-pricing-info__item-btn-row
              %a.b-btn.f-btn.b-btn-sm.f-primary-b Assinar
          .clearfix.visible-sm-block
          .b-pricing-info__item.f-pricing-info__item.col-sm-6.col-md-3.col-xs-12
            .b-pricing-info__item-row.b-pricing-info__item-title
              %h4.f-primary-b Plano Ouro
            .b-pricing-info__item-row.b-pricing-info__item-price
              %h2.f-primary-b
                R$10 /
                %small.f-primary mês
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsumt
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row.b-pricing-info__item-btn-row
              %a.b-btn.f-btn.b-btn-sm.f-primary-b Assinar
          .b-pricing-info__item.f-pricing-info__item.col-sm-6.col-md-3.col-xs-12
            .b-pricing-info__item-row.b-pricing-info__item-title
              %h4.f-primary-b Plano Diamante
            .b-pricing-info__item-row.b-pricing-info__item-price
              %h2.f-primary-b
                R$39 /
                %small.f-primary mês
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsumt
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row
              %p Lorem Ipsum
            .b-pricing-info__item-row.b-pricing-info__item-btn-row
              %a.b-btn.f-btn.b-btn-sm.f-primary-b Assinar
  %section.b-infoblock.b-desc-section-container
    .container
      %h2.f-center.f-primary-l
        Nossas
        %strong.f-primary-b Notícias
      %p.b-infoblock-description.f-desc-section.f-center.f-employee__desc.f-small.f-primary-l Reprehendunt in, quo ea esse civibus suavitate. Pro gubergren persecuti moderatius, id laudem vix, an eos. Adversarium principes.
      .b-carousel-primary
        .j-carousel-primary
          .b-carousel-primary__item
            .b-news-item.f-news-item
              .hidden-xs.b-news-item__img.view.view-sixth
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
                .b-item-hover-action.f-center.mask
                  .b-item-hover-action__inner
                    .b-item-hover-action__inner-btn_group
                      %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                        %i.fa.fa-link
              .b-news-item__info
                .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
                .b-news-item__info_additional
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-calendar-o
                    22 de Janeiro
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-comments
                    2 comentários
                .b-news-item__info_text.f-news-item__info_text
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                  Leia Mais
                  %i.fa.fa-chevron-circle-right
          .b-carousel-primary__item
            .b-news-item.f-news-item
              .hidden-xs.b-news-item__img.view.view-sixth
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
                .b-item-hover-action.f-center.mask
                  .b-item-hover-action__inner
                    .b-item-hover-action__inner-btn_group
                      %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                        %i.fa.fa-link
              .b-news-item__info
                .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
                .b-news-item__info_additional
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-calendar-o
                    22 de Janeiro
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-comments
                    2 comentários
                .b-news-item__info_text.f-news-item__info_text
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                  Leia Mais
                  %i.fa.fa-chevron-circle-right
          .b-carousel-primary__item
            .b-news-item.f-news-item
              .hidden-xs.b-news-item__img.view.view-sixth
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
                .b-item-hover-action.f-center.mask
                  .b-item-hover-action__inner
                    .b-item-hover-action__inner-btn_group
                      %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                        %i.fa.fa-link
              .b-news-item__info
                .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
                .b-news-item__info_additional
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-calendar-o
                    22 de Janeiro
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-comments
                    2 comentários
                .b-news-item__info_text.f-news-item__info_text
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                  Leia Mais
                  %i.fa.fa-chevron-circle-right
          .b-carousel-primary__item
            .b-news-item.f-news-item
              .hidden-xs.b-news-item__img.view.view-sixth
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_2.png"}/
                .b-item-hover-action.f-center.mask
                  .b-item-hover-action__inner
                    .b-item-hover-action__inner-btn_group
                      %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                        %i.fa.fa-link
              .b-news-item__info
                .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
                .b-news-item__info_additional
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-calendar-o
                    22 de Janeiro
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-comments
                    2 comentários
                .b-news-item__info_text.f-news-item__info_text
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                  Leia Mais
                  %i.fa.fa-chevron-circle-right
          .b-carousel-primary__item
            .b-news-item.f-news-item
              .hidden-xs.b-news-item__img.view.view-sixth
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/news_1.png"}/
                .b-item-hover-action.f-center.mask
                  .b-item-hover-action__inner
                    .b-item-hover-action__inner-btn_group
                      %a.b-btn.f-btn.b-btn-light.f-btn-light.info{:href => "#"}
                        %i.fa.fa-link
              .b-news-item__info
                .b-news-item__info_title.f-news-item__info_title.f-primary-b Vestibulum accumsan
                .b-news-item__info_additional
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-calendar-o
                    22 de Janeiro
                  %span.f-news-item__info_additional_item.b-news-item__info_additional_item
                    %i.fa.fa-comments
                    2 comentários
                .b-news-item__info_text.f-news-item__info_text
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                %a.f-news-item__info_more.f-more.f-secondary-b{:href => "#"}
                  Leia Mais
                  %i.fa.fa-chevron-circle-right
  %section.b-infoblock.b-diagonal-line-bg-light
    .container
      %h2.f-center.f-primary-b O que dizem nossos assinantes ?
      %p.b-infoblock-description.f-desc-section.f-center.f-employee__desc.f-small.f-primary-l Etiam consectetur pellentesque justo. Sed tristique bibendum elit non molestie. Donec et libero rutrum
      .row{"data-animate-group-wrap" => ""}
        .col-sm-6.col-xs-12
          .b-mention-item
            .b-mention-item__user.f-center
              .b-mention-item__user_img
                %img.fade-in-animate{:alt => "", "data-animate-group" => "2", "data-retina" => "", :src => "img/users/user_md.png"}/
              .b-mention-item__user_info.f-mention-item__user_info
                .f-mention-item__user_name.f-primary-b KIYOSHI HARADA
                .f-mention-item__user_position Advogado
            .b-remaining
              .b-mention-item__comment
                .b-mention-item__comment_text.f-mention-item__comment_text
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor orbi sagittis, sem quis. Nunc eget magna mattis, scelerisque nisi non
                  %br/
                  %a.f-primary-it.f-more{:href => "http://google.com", :target => "_blank"} http://google.com
        .col-sm-6.col-xs-12
          .b-mention-item
            .b-mention-item__user.f-center
              .b-mention-item__user_img
                %img.fade-in-animate{:alt => "", "data-animate-group" => "2", "data-retina" => "", :src => "img/users/user_md_2.png"}/
              .b-mention-item__user_info.f-mention-item__user_info
                .f-mention-item__user_name.f-primary-b LUIZ GOMES
                .f-mention-item__user_position Jurista e professor
            .b-remaining
              .b-mention-item__comment
                .b-mention-item__comment_text.f-mention-item__comment_text
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor orbi sagittis, sem quis. Nunc eget magna mattis
                  %br/
                  %a.f-primary-it.f-more{:href => "http://apple.com", :target => "_blank"} http://apple.com
    .b-carousel-reset.b-carousel-arr-out.b-carousel-small-arr.f-carousel-small-arr.b-remaining
      .f-center.b-logo-group.j-logo-slider
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-1.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-1h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-2.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-2h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-3.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-3h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-4.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-4h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-5.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-5h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-3.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-3h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-4.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-4h.png"}/
        .b-logo-item
          %a{:href => "#"}
            %img.is-normal{:alt => "", :src => "img/slider/partner/client-logo-5.png"}/
            %img.is-hover{:alt => "", :src => "img/slider/partner/client-logo-5h.png"}/
%footer
  .b-footer-primary
    .container
      .row
        .col-sm-4.col-xs-12.f-copyright.b-copyright Copyright © 2014 - Todos os direitos Reservados
        .col-sm-8.col-xs-12
          .b-btn.f-btn.b-btn-default.b-right.b-footer__btn_up.f-footer__btn_up.j-footer__btn_up
            %i.fa.fa-chevron-up
  .container
    .b-footer-secondary.row
      .col-md-3.col-sm-12.col-xs-12.f-center.b-footer-logo-containter
        %a{:href => ""}
          %img.b-footer-logo.color-theme{:alt => "Logo", "data-retina" => "", :src => ""}/
        .b-footer-logo-text.f-footer-logo-text
          %p Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.
          .b-btn-group-hor.f-btn-group-hor
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-twitter
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-facebook
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-dribbble
            %a.b-btn-group-hor__item.f-btn-group-hor__item{:href => "#"}
              %i.fa.fa-behance
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Últimas Notícias
        .b-blog-short-post.row
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
          .b-blog-short-post__item.col-md-12.col-sm-4.col-xs-12.f-primary-b
            .b-blog-short-post__item_text.f-blog-short-post__item_text
              %a{:href => "blog_detail_left_slidebar.html"} Lorem ipsum dolor sit amet
            .b-blog-short-post__item_date.f-blog-short-post__item_date
              Março 23, 2013
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Contato
        .b-contacts-short-item-group
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.f-contacts-short-item__icon_lg.b-left
              %i.fa.fa-map-marker
            .b-remaining.f-contacts-short-item__text
              Geek Ninjas
              %br/
              1234 Cidade, Estado,
              %br/
              Brasil.
              %br/
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.b-left.f-contacts-short-item__icon_md
              %i.fa.fa-skype
            .b-remaining.f-contacts-short-item__text.f-contacts-short-item__text_phone
              Skype: geekninjas.com
          .b-contacts-short-item.col-md-12.col-sm-4.col-xs-12
            .b-contacts-short-item__icon.f-contacts-short-item__icon.b-left.f-contacts-short-item__icon_xs
              %i.fa.fa-envelope
            .b-remaining.f-contacts-short-item__text.f-contacts-short-item__text_email
              %a{:href => "mailto:frexystudio@gmail.com"} lorem@ipsum.com
      .col-md-3.col-sm-12.col-xs-12
        %h4.f-primary-b Quem ja Curtiu
        .b-short-photo-items-group
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_1.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_99.jpg"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_1.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_1.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_2.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_2.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_3.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_3.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_5.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_5.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_7.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_7.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_9.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_9.png"}/
          .b-column
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_11.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_11.png"}/
          .b-column.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_12.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_13.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_16.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_16.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/gallery_34.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_34.png"}/
          .b-column.hidden-sm.hidden-xs
            %a.b-short-photo-item.fancybox{:href => "img/gallery/sm/gallery_38.png", :rel => "footer-group", :title => "photo stream"}
              %img{:alt => "", "data-retina" => "", :src => "img/gallery/sm/gallery_38.png"}/
